[MASTER]

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    no-member,
    broad-exception-caught,
    unused-argument,
    logging-fstring-interpolation
