[MASTER]
load-plugins=pylint_django
django-settings-module=stockapp.settings

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    no-member,
    imported-auth-user,
    broad-exception-caught
